body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    position: static;
    font-family: 'Margot';
}

section.red {
    background: #d83454;
}

section.white {
    background: #ffffff;
}

section.grey {
    background: #f1f2f2;
}

section .page-scroll {
    display: block;
    position: relative;
    margin-top: -100px;
    top: 100%;
    font-size: 3em;
    color: white;
    text-decoration: none;	
}

section.grey .page-scroll span {
    color: #d83454;
}

section.white .page-scroll span {
    color: black;
}

section .container {
    position: relative;
    top: 50%;
    width: 100%;
    margin-top: -50px;
}

/* Intro */
section#intro img {
    width: 260px;
}
section#intro p {
    font-size: 1.2em;
    color: white;
    margin-top: 85px;
}

/* Love Design */
section#loveDesign img {
    width: 400px;
    position: relative;
    top: -150px;
}
section#loveDesign p {
    font-size: 1.2em;
    color: black;
    margin-top: 0px;
}

/* Do Design */
section#doDesign img {
    width: 400px;
    position: relative;
    top: -150px;
}
section#doDesign p {
    font-size: 1.2em;
    color: black;
    margin-top: 0px;
}

/* We Love Both */
section#loveBoth img {
    width: 400px;
    position: relative;
    top: -150px;
}
section#loveBoth p {
    font-size: 1.2em;
    color: black;
    margin-top: 0px;
}

/* Services */
section#services h1 {
    font-size: 3em;
    color: black;
    margin-top: 0px;
}
section#services ul {
    position: relative;
    text-align: center;
}
section#services li {
    
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}
section#services li img {
    width: 150px;
}
section#services li span {
    position: relative;
    top: 40px;
}

/* Clients */
section#clients h1 {
    font-size: 3em;
    color: black;
    margin-top: 0px;
}

section#clients .container {
    top: 20%;
}

section#clients #carousel {
    float: left;
    width: 900px;
    position: relative;
    left: 50%;
    margin-left: -400px;
    padding-left: 0px;
}

section#clients #rotateLeft {
    left: 30px;
    top: 100px !important;
}

section#clients #rotateRight {
    left: -22px;
    top: 84px !important;
}

/* How to find us */
section#howToFind h1 {
    font-size: 3em;
    color: black;
    margin-top: 0px;
}

/* Contact */
section#contact h1 {
    font-size: 3em;
    color: black;
    margin-top: 0px;
}