<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Geek Label</title>

    <!-- Custom CSS -->
    <link  rel="stylesheet" href="css/scrolling-nav.css">
    
    <!-- Carousel -->
    <link rel="stylesheet" href="css/carousel.css">
    
    <!-- Fonts -->
    <link rel="stylesheet" href="css/fonts/ElegantIcons/eleganticons.css" />
    <link rel="stylesheet" href="css/fonts/MargotFF/margot.css" />
    
    <script src="https://use.fontawesome.com/ed2c261463.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  
</head>

<body id="page-top">

    <!-- Intro Section -->
    <section id="intro" class="red">
        <a class="btn btn-default page-scroll" href="#loveDesign" title="scroll down">
            <span class="fs1" aria-hidden="true" data-icon=";"></span>    
        </a>
        <div class="container">
            <div class="row">
                <div>
                    <img src="images/geek-label-logo.png" alt="Geek Label Logo" />
                    <p>A team of self confessed geeks who are all about<br /> great digital design</p>
                </div>
            </div>
        </div>
    </section>

    <!-- How To Build Section -->
    <section id="loveDesign" class="grey">
        <a class="btn btn-default page-scroll" href="#doDesign">
            <span class="fs1" aria-hidden="true" data-icon=";"></span>
        </a>
        <div class="container">
            <div class="row">
                <div>
                    <img src="images/love-design.png" alt="Love Design" />
                    <p>Some agencies love design, but don't know how to build</p>  
                </div>
            </div>
        </div>
    </section>

    <!-- Do Design Section -->
    <section id="doDesign" class="grey">
        <a class="btn btn-default page-scroll" href="#loveBoth">
            <span class="fs1" aria-hidden="true" data-icon=";"></span>
        </a>
        <div class="container">
            <div class="row">
                <div>
                    <img src="images/do-design.png" alt="Do Design" />
                    <p>Some agencies know how to build but can't do design</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Love Both Section -->
    <section id="loveBoth" class="grey">
        <a class="btn btn-default page-scroll" href="#services">
            <span class="fs1" aria-hidden="true" data-icon=";"></span>
        </a>
        <div class="container">
            <div class="row">
                <div>
                    <img src="images/weLoveBoth.png" alt="We Love Both" />
                    <p>We love both</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section id="services" class="white">
        <a class="btn btn-default page-scroll" href="#clients">
            <span class="fs1" aria-hidden="true" data-icon=";"></span>
        </a>
        <div class="container">
            <div class="row">
                <div>
                    <h1>Services</h1>
                     <ul>
                        <li>
                            <img src="images/services-web-development.png" alt="Web Development"/><br />
                            <span>Web Development</span>
                        </li>
                        <li>
                            <img src="images/services-design.png" alt="Design" /><br />
                            <span>Design</span>
                        </li>
                        <li>
                            <img src="images/services-branding.png" alt="Branding" /><br />
                            <span>Branding</span>
                        </li>
                        <li>
                            <img src="images/services-ux-research.png" alt="UX Research" /><br />
                            <span>UX Research</span>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Clients -->
    <section id="clients" class="grey">
        <a class="btn btn-default page-scroll" href="#howToFind">
            <span class="fs1" aria-hidden="true" data-icon=";"></span>
        </a>
        <div class="container">
            <div class="row">
                <h1>Clients</h1>
                <section id="carouselApp">
                    <section id="main"></section>	
                </section>

                <script type="text/html" id="template-carouselItemView">

                    <img src="<%- randomImage %>" />
                    <label><%- title %></label>

                </script>

                <script type="text/html" id="template-carouselListView">
                    <div id="carousel">
                        <a id="rotateLeft" href="#rotateLeft">&lt;</a>
                        <ul></ul>
                        <a id="rotateRight" href="#rotateRight">&gt;</a>
                    </div>
                </script>

            </div>
        </div>
    </section>
    
    
    <!-- How To Find Us -->
    <section id="howToFind" class="grey">
        <a class="btn btn-default page-scroll" href="#contact">
            <span class="fs1" aria-hidden="true" data-icon=";"></span>
        </a>
        <div class="container">
            <div class="row">
                <div>
                    <h1>How to find us</h1>
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- Contact -->
    <section id="contact" class="grey">
        <div class="container">
            <div class="row">
                <div>
                    <h1>Contact</h1>
                    <form>
                        <input name="name" type="text" value=""/><br />
                        <input name="email" type="text" value=""><br />
                        <textarea name="message"></textarea><br />
                        <input type="submit" name="send" />
                    </form>
                    <p>Or phone on: 01923 220121</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Scrolling Nav JavaScript -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>
    
    <!-- vendor libraries -->
    <script src="node_modules/underscore/underscore.js"></script>
    <script src="node_modules/backbone/backbone.js"></script>
    <script src="node_modules/backbone.radio/build/backbone.radio.js"></script>
    <script src="node_modules/backbone.marionette/lib/backbone.marionette.js"></script>

    <!-- carousel -->
    <script src="js/marionette-carousel.min.js"></script>  
</body>

</html>
